*{
	/*border: solid 1px black;*/
}
body{
	font-family: 'Raleway', sans-serif;
	padding-bottom: 0;
	margin-bottom: 0;
}
html{
	padding-bottom: 0;
	margin-bottom: 0;
}
a{
	font-weight: bolder;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #000;
}
figcaption {
	color: #000;
	font-weight: bolder;
}
code {
	border-radius: 6px;
	color: white;
}
.code{
	background-color: black;
	border-radius: 4px;
}
.pixel-row div{
  padding-top: 20%;
  box-sizing: border-box;
}
#bold {
	font-weight: bold;
}

#intro{
	height: 100vh;
}
.display-1{
	margin-top: 15vh;
}
.btn {
	background: none;
	border: solid 2px darkgrey;
	color: black;
}
.btn:hover{
	background-color: white;
	border: solid 2px black;
}
#github{
	width:90px;
}
#linkedin{
	width: 100px;
}
.container{
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #bbb 1px, rgba(0, 0, 0, 0) 1px);
	height: 85vh; 
    overflow: scroll;
    padding-bottom: 0;
    padding-top: 0;
	margin-bottom: 0;
}
	.freebook-text{
		letter-spacing: 0.15em;
		font-weight: normal;
		color: #555;
	}
		.freebook-text h1{
			color: #333;
		}
	
	.worldwhat-text{
		font-family: 'Varela Round', sans-serif;
		font-size: 20px;
		background: none;
		color: #888;
	}
		.worldwhat-text h1 {
			color: green;
		}
		.worldwhat-text footer p{
			font-weight: lighter;
			font-size: 15px;
		}
.jumbotron{
	background: none;
}
.card{
	/*border: solid 4px #666;*/
	border: none;
	background: none;
}
	.card-header, .card-footer{
		background: none;
		border: none;
	}

.navbar-toggler{
	position: absolute;
	top: 12px;
	left: 82vw;
}
/*      Removing scrollbar       */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/*     GRID IMAGE      */
#a{
	background-color: #b04c5f;
}
#b{
	background-color: #89b033;
}
#c{
	background-color: #8999de;
}
#d{
	background-color: #495c12;
}
#e{
	background-color: #6a0f2b;
}
#f{
	background-color: #a7b41d;
}
#g{
	background-color: #7581a6;
}
#h{
	background-color: #d2889b;
}
#i{
	background-color: #3b6adb;
}
#j{
	background-color: #de7d26;
}
#k{
	background-color: #9b1f05;
}
#l{
	background-color: #b3323b;
}
#m{
	background-color: #ca6cf3;
}
#n{
	background-color: #30a211;
}
#o{
	background-color: #1a94a3;
}
#p{
	background-color: #4e7c59;
}
#q{
	background-color: #774f45;
}
#r{
	background-color: #9a1fbd;
}
#s{
	background-color: #416fd0;
}
#t{
	background-color: #a1f4bc;
}
#u{
	background-color: #ae5dde;
}
#v{
	background-color: #25575b;
}
#w{
	background-color: #0badda;
}
#x{
	background-color: #9562a2;
}
#y{
	background-color: #f7e33b;
}

